.container {
    display: grid;
    justify-content: space-between;
    border: solid 1px var(--accent-300);
    background-color: var(--accent-200);
    grid-template-columns: 1fr auto;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
}

.notRead {
    background-color: var(--accent-200);
}

.read {
    background-color: var(--accent-50);
}

.notifTextContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-family: var(--font-inter);
    font-size: 18px;
    color: var(--accent-900);
    text-align: left;
    margin: 0;
}

.content {
    font-family: var(--font-inter);
    font-size: 14px;
    color: var(--accent-950);
    text-align: justify;
    margin: 0;
    text-wrap: wrap;
}

.actionsContainer {
    display: flex;
    gap: 6px;
    height: fit-content;
}