.container {
    border-radius: 24px 24px 4px 24px;
    background-color: var(--accent-100);
    border: solid 1px var(--accent-300);
    padding: 20px;
}

.authorName {
    font-family: var(--font-inter);
    font-size: 18px;
    color: var(--accent-900);
    margin: 0;
    margin-bottom: 20px;
}

.commentText {
    font-family: var(--font-inter);
    font-size: 16px;
    text-align: justify;
    margin: 0;
    color: var(--accent-950);
}