.header {
    width: 100%;
    background-color: var(--accent-800);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "left center right";
    align-items: center;
    padding: 10px 50px;
}

#left {
    grid-area: left;
    justify-self: start;
}

#center {
    grid-area: center;
    justify-self: center;
}

#right {
    grid-area: right;
    justify-self: end;
}

.headerTitle {
    display: flex;
    margin: 0;
    font-family: var(--font-playfair);
    font-weight: 800;
    font-size: 32px;
    color: var(--accent-50);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.headerTitle:hover {
    transform: translateY(-2px);
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}