.profileChipWrapper {
    position: relative;
}

.profileChipWrapper:hover {
    .profileChipContainer {
        border-radius: 21px 21px 0 0;
    }
}

.profileChipContainer {
    background-color: var(--accent-100);
    border-radius: 50px;
    position: relative;
    z-index: 40;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    border: none;
    width: fit-content;
    justify-content: flex-start;
    cursor: pointer;
    transition: none;
    font-family: var(--font-inter);
    color: var(--accent-950);
}

.profileIcon {
    color: var(--accent-950);
    flex-shrink: 0;
}

.chipText {
    font-family: var(--font-inter);
    color: var(--accent-950);
    width: fit-content;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    margin: 0;
}

.profileMenu {
    position: absolute;
    top: 100%;
    left: -51px;
    margin-top: 0;
    background-color: var(--accent-100);
    border-radius: 12px 0 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 0;
    /* border: 1px solid var(--accent-200); */
    width: 200px;
    animation: clipDown 0.2s ease forwards;
    z-index: 30;
}

@keyframes clipDown {
    from {
        clip-path: inset(0 0 100% 0);
        opacity: 0;
    }
    to {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-inter);
    color: var(--accent-950);
    font-size: 16px;
    text-decoration: none;
    transition: 0.15s ease all;
    text-align: left;
    svg,span {
        transition: 0.2s ease all;
    }
}

.menuItem:last-child {
    border-radius: 0 0 12px 12px;
}

.menuItem:hover {
    background-color: var(--accent-800);
    color: var(--accent-100);
}

.menuItem:hover svg,
.menuItem:hover span {
    transform: translateX(5px);
}

.menuItem:active {
    background-color: var(--accent-900);
}

.menuItem:active svg,
.menuItem:active span {
    color: var(--accent-50);
}

.menuIcon {
    flex-shrink: 0;
}

@media (max-width: 900px) {
    .profileChipContainer {
        padding: 10px 14px;
        gap: 10px;
    }

    .chipText {
        font-size: 14px;
    }

    .menuItem {
        padding: 10px 12px;
        font-size: 14px;
        gap: 10px;
    }

    .menuIcon {
        font-size: 18px !important;
    }
}
