.body {
    margin: 0 10%;
}

.carouselContainer {
    margin: 100px 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .body {
        margin: 0 10px;
        padding-inline: 6px;
    }
    .carouselContainer {
        margin: 36px 0;
    }
}
