.actionsContainer {
    margin-top: 20px;
    display: flex;
    gap: 12px;
}

.progressBar {
    width: 250px;
    margin-top: auto;
}

.organizationCardContainer {
    display: flex;
}

.organizationInfoContainer {
    display: grid;
    align-items: space-between;
    justify-content: flex-start;
    grid-template-columns: 350px auto;
    gap: 40px;
    margin: 100px 10%;
}

.organizationInfoText {
    margin: 0 0;
    h2 {
        margin: 0 0;
    }
}

.addCommentBox {
    width: 600px;
    max-width: 75%;
    margin-bottom: 30px;
}

.commentsContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

@media (max-width: 768px) {
    .progressBar {
        width: 100%;
    }

    .actionsContainer {
        flex-wrap: wrap;
    }

    .organizationInfoContainer {
        grid-template-columns: 1fr;
        gap: 24px;
        margin: 36px 10px;
    }

    .organizationCardContainer {
        justify-content: center;
    }

    .addCommentBox {
        width: 100%;
        max-width: 100%;
    }
}
