.pageContainer {
    margin: 0 10%;
}

@media (max-width: 768px) {
    .pageContainer {
        margin: 0 12px;
    }

    .notificationsContainer {
        gap: 8px;
    }
}

.notificationsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emptyNotificationsText {
    color: var(--accent-900);
}